#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        shift_del: shift_del {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_DEL";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        space_backspace: space_backspace {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_BACKSPACE";
            bindings = <&kp SPACE>, <&kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        space_backspaceR: space_backspaceR {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_BACKSPACER";
            bindings = <&kp SPACE>, <&kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        copyshift: copyshift {
            compatible = "zmk,behavior-mod-morph";
            label = "COPYSHIFT";
            bindings = <&kp LC(C)>, <&kp LC(LS(C))>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        pasteshift: pasteshift {
            compatible = "zmk,behavior-mod-morph";
            label = "PASTESHIFT";
            bindings = <&kp LC(V)>, <&kp LC(LS(V))>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        endctrlshiftz: endctrlshiftz {
            compatible = "zmk,behavior-tap-dance";
            label = "ENDCTRLSHIFTZ";
            #binding-cells = <0>;
            bindings = <&kp END>, <&kp LC(LS(Z))>;
        };

        homectrlz: homectrlz {
            compatible = "zmk,behavior-tap-dance";
            label = "HOMECTRLZ";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&kp LC(Z)>;
        };

        leftctrlz: leftctrlz {
            compatible = "zmk,behavior-tap-dance";
            label = "LEFTCTRLZ";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ARROW>, <&kp LC(Z)>;
        };

        rightctrlshiftz: rightctrlshiftz {
            compatible = "zmk,behavior-tap-dance";
            label = "RIGHTCTRLSHIFTZ";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_ARROW>, <&kp LC(LS(Z))>;
        };

        semicolonEQ: semicolonEQ {
            compatible = "zmk,behavior-tap-dance";
            label = "SEMICOLONEQ";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp EQUAL>;

            tapping-term-ms = <75>;
        };

        semiholdtap: semiholdtap {
            compatible = "zmk,behavior-hold-tap";
            label = "SEMIHOLDTAP";
            bindings = <&kp>, <&semicolonEQ>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
        };

        holdtappreferred350: holdtappreferred350 {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAPPREFERRED350";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <350>;
            require-prior-idle-ms = <155>;
        };

        semi_tap_dance: semi_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "SEMI_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp_kp_hold_tap PLUS SEMI>, <&kp EQUAL>;
        };

        kp_kp_hold_tap: kp_kp_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_KP_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };

        holdtap_homerow: holdtap_homerow {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAP_HOMEROW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
        };

        parenthesisopen: parenthesisopen {
            compatible = "zmk,behavior-mod-morph";
            label = "PARENTHESISOPEN";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LEFT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        leftdown: leftdown {
            compatible = "zmk,behavior-mod-morph";
            label = "LEFTDOWN";
            bindings = <&kp LEFT_ARROW>, <&kp DOWN_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        rightup: rightup {
            compatible = "zmk,behavior-mod-morph";
            label = "RIGHTUP";
            bindings = <&kp RIGHT_ARROW>, <&kp UP_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        bckspace_space: bckspace_space {
            compatible = "zmk,behavior-mod-morph";
            label = "BCKSPACE_SPACE";
            bindings = <&kp BACKSPACE>, <&kp SPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        parenthesisclosed: parenthesisclosed {
            compatible = "zmk,behavior-mod-morph";
            label = "PARENTHESISCLOSED";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        tapholdpreferred: tapholdpreferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLDPREFERRED";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
        };

        minusplus: minusplus {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUSPLUS";
            bindings = <&kp MINUS>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        dansksemi: dansksemi {
            compatible = "zmk,behavior-mod-morph";
            label = "DANSKSEMI";
            bindings = <&kp SEMICOLON>, <&danskAE>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        delenter: delenter {
            compatible = "zmk,behavior-mod-morph";
            label = "DELENTER";
            bindings = <&kp DEL>, <&kp ENTER>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        danskAE: danskAE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(U)) &kp N0 &kp N0 &kp E &kp N6 &kp SPACE>;
            label = "DANSKAE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp GRAVE                          &kp N1                        &kp N2        &kp N3                        &kp N4                        &kp N5  &mo 4                                                                       &mo 6               &kp N6  &kp N7          &kp N8                        &holdtap_homerow LEFT_BRACKET N9  &holdtap_homerow RIGHT_BRACKET N0  &minusplus
&kp TAB                            &kp Q                         &kp W         &kp E                         &kp R                         &kp T   &kp LC(V)                                                                   &parenthesisopen    &kp Y   &kp U           &kp I                         &kp O                             &kp P                              &kp BSLH
&tapholdpreferred LEFT_WIN ESCAPE  &kp A                         &kp S         &kp D                         &kp F                         &kp G   &kp LC(C)        &kp LCTRL  &kp LALT            &kp LEFT_ALT  &kp LEFT_GUI  &parenthesisclosed  &kp H   &kp J           &kp K                         &kp L                             &dansksemi                         &mt LEFT_WIN SQT
&kp LSHFT                          &holdtappreferred350 LC(Z) Z  &kp X         &holdtappreferred350 LC(C) C  &holdtappreferred350 LC(V) V  &kp B                               &homectrlz          &kp PG_UP                                       &kp N   &kp M           &holdtap_homerow MINUS COMMA  &holdtap_homerow EQUAL PERIOD     &kp FSLH                           &kp RSHFT
&kp LCTRL                          &kp GRAVE                     &kp LEFT_WIN  &leftdown                     &rightup                              &bckspace_space  &delenter  &endctrlshiftz      &kp PG_DN     &kp ENTER     &space_backspaceR           &kp DOWN_ARROW  &kp UP_ARROW                  &kp LBKT                          &kp RBKT                           &mo 5
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        Linux {
            display-name = "Base";
            bindings = <
&kp GRAVE                           &kp N1                        &kp N2         &kp N3                        &kp N4                        &kp N5  &mo 4                                                                        &mo 6               &kp N6  &kp N7          &kp N8                        &holdtap_homerow LEFT_BRACKET N9  &holdtap_homerow RIGHT_BRACKET N0  &minusplus
&kp TAB                             &kp Q                         &kp W          &kp E                         &kp R                         &kp T   &kp LC(V)                                                                    &parenthesisopen    &kp Y   &kp U           &kp I                         &kp O                             &kp P                              &kp BSLH
&tapholdpreferred RIGHT_ALT ESCAPE  &kp A                         &kp S          &kp D                         &kp F                         &kp G   &kp LC(C)        &kp LCTRL  &kp LALT            &kp LEFT_ALT  &kp RIGHT_ALT  &parenthesisclosed  &kp H   &kp J           &kp K                         &kp L                             &holdtap_homerow EQUAL SEMI        &mt RALT SQT
&kp LSHFT                           &holdtappreferred350 LC(Z) Z  &kp X          &holdtappreferred350 LC(C) C  &holdtappreferred350 LC(V) V  &kp B                               &homectrlz          &kp PG_UP                                        &kp N   &kp M           &holdtap_homerow MINUS COMMA  &holdtap_homerow EQUAL PERIOD     &kp FSLH                           &kp RSHFT
&kp LCTRL                           &kp GRAVE                     &kp RIGHT_ALT  &leftdown                     &rightup                              &bckspace_space  &delenter  &endctrlshiftz      &kp PG_DN     &kp ENTER      &space_backspaceR           &kp DOWN_ARROW  &kp UP_ARROW                  &kp LBKT                          &kp RBKT                           &mo 5
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2  &kp N3    &kp N4     &kp N5  &trans                                                        &mo 6              &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W   &kp E     &kp R      &kp T   &kp LS(LC(E))                                                 &kp LC(LA(LS(Q)))  &kp Y   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S   &kp D     &kp F      &kp G   &kp LS(LC(O))  &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &kp LC(LA(LS(Z)))  &kp H   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X   &kp C     &kp V      &kp B                             &kp HOME      &kp PG_UP                                &kp N   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&trans     &kp GRAVE  &trans  &kp LEFT  &kp RIGHT          &kp BSPC       &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp KP_N0                  &kp UP      &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 5
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &trans                                      &mo 6            &kp F7  &kp F8          &kp F9           &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &to 0                                       &kp PRINTSCREEN  &trans  &trans          &trans           &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &to 3            &trans  &trans          &trans           &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                           &trans  &trans          &trans           &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans                   &kp LEFT_ARROW  &kp RIGHT_ARROW  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };
    };
};
